DEBUG = False
SECRET_KEY = 'replace-this-with-generated-key'

# How to generate SECRET_KEY — run this anywhere in your terminal:

# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"

# _________________________________________________________________
# If you somehow don't have Python, use this one
# (and if you're on Windows run it in the cmd, not Powershell):

# docker run --rm python:3.14-slim python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
# _________________________________________________________________

# Copy the printed output and paste it as the SECRET_KEY value above.
